@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

section {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-card:hover,
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

button:hover, 
.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

/* create parallax effect here */
.parallax-1 {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 100px;
    left: -150px;
    rotate: 90deg;
    z-index: 1;
}

.parallax-2 {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 100px;
    right: -150px;
    rotate: -90deg;
    z-index: 1;
}

#parallax-tentacle-1 {
    position: absolute;
    filter: brightness(0.95);
}

#parallax-tentacle-2 {
    position: absolute;
    filter: brightness(0.35);
}
